/* CUSTOM
   ============= */
@media only screen and (max-width: 960px) {
    .mob {
        display: unset !important;
    }

    .mobNo {
        display: none !important;
    }

    section {
        height: 100vh;
    }

    main#convert-main {
        padding-top: 0;
    }

    #convert-header {
        background: transparent !important
    }

    #convert-header,
    #convert-header.is-frosted {
        -webkit-backdrop-filter: unset;
        backdrop-filter: unset;
    }

    .convert-mobile-nav.is-frosted {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    .convert-mobile-header-inner {
        background: transparent;
        padding-left: 35px;
        padding-right: 25px;
    }

    .convert-mobile-menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .convert-mobile-menu-toggler {
        width: 48px;
        height: 48px;
        border-radius: 0;
        background-color: transparent !important;
    }

    .convert-mobile-menu-toggler::before {
        border: unset
    }

    .convert-mobile-menu-toggler i {
        width: 32px;
        height: 18px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .convert-mobile-menu-toggler span {
        background: #F4F5F8;
        width: 32px;
        width: 100%;
        left: 0;
        border-radius: 0;
        transform-origin: unset !important;
    }

    .convert-mobile-menu-toggler span:nth-child(1) {
        top: 0;
    }

    .convert-mobile-menu-toggler span:nth-child(2) {
        top: calc(50% - 1px);
    }

    .convert-mobile-menu-toggler span:nth-child(3) {
        top: unset;
        transform: scale(1, 1);
        bottom: 0;
    }

    .show-menu .convert-mobile-menu-toggler span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .show-menu .convert-mobile-menu-toggler span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .convert-mobile-nav,
    .show-menu .convert-mobile-nav {
        transform: translate(0) !important;
        top: 0;
        height: 100%;
    }

    .convert-mobile-nav {
        background: #11111180;
    }

    .convert-mobile-nav {
        pointer-events: none;
        opacity: 0;
        transition: all .6s cubic-bezier(0.4, -0.6, 0.3, 1.6)
    }

    .show-menu .convert-mobile-nav {
        pointer-events: all;
        opacity: 1;
    }

    .show-menu .convert-logo {
        opacity: 0;
    }

    .convert-mobile-menu a {
        height: 20px;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        color: #F4F5F8;
        margin-bottom: 48px;
    }

    .logoNavMenu {
        position: absolute;
        bottom: 60px;
        width: 133px;
    }

    /* 
    #hero .mob {
        background-image: url(../img/home-mb.png);
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        max-height: 100vh;
    } */

    #hero {
        background-image: url(../img/hero-bg-mob.jpg);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
    }

    #hero .buttons {
        height: calc(100% - 70px);
    }

    #hero .buttons .texture,
    #hero .buttons .bg {
        display: none !important;
    }

    #hero>a {
        pointer-events: none;
    }

    #hero a {
        clip-path: unset !important;
    }

    #hero .buttons a,
    #hero .buttons a>*,
    #hero .buttons a>*>* {
        transition: unset;
    }

    #hero .buttons a h1 {
        color: #F4F5F8;
        width: 100%;
        transition: unset !important;
        font-size: 93px;
        height: unset;
        width: unset;
        z-index: 1;
    }

    #hero .buttons a h1.stroke {
        opacity: 1;
        z-index: 111;
    }

    #hero .buttons a.button-hardware h1 {
        top: 20%;
        left: 8%;
    }

    #hero .buttons a.button-software h1 {
        top: 64%;
        right: 29%;
    }

    #hero .buttons .item {
        z-index: 11;
    }

    #hero .buttons .element {
        height: unset;
    }

    #hero .buttons .button-software .element {
        left: -33%;
    }

    #hero .buttons .button-hardware .item {
        width: 120%;
    }

    #hero .buttons .button-software .item {
        width: 115%;
        top: 48%;
    }

    #hero .buttons .item img {
        filter: unset;
        opacity: 1;
        transition: unset;
        z-index: 11;
    }

    #hero .buttons .button-hardware .item img {
        transform: translate(8%, 23%);
    }

    #hero .buttons .button-software .item img {
        transform: translate(8%, 23%);
    }

    #hero .buttons .explore {
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
    }

    #hero .buttons .explore>p {
        position: absolute;
        margin-bottom: 0;
        color: #F4F5F8;
        width: 60%;
        font-size: 18px;
        line-height: 120%;
    }

    #hero .buttons .explore a {
        position: absolute;
        bottom: 4%;
    }

    #hero .buttons .explore a p {
        font-size: 18px;
        line-height: 120%;
        color: #F4F5F8;
    }

    #hero .buttons .explore a img {
        filter: brightness(100);
    }

    #hero .buttons .explore a:hover img {
        transform: unset;
    }
}