@media only screen and (max-width: 1200px) {
   .pswp__button,
   .pswp__ui--fit .pswp__top-bar button.pswp__button {
      width: 48px;
      height: 48px;
   }

   .stg-row > div[class*='convert-t-grid'],
   [class*='convert-t-grid'] {
      display: grid;
      grid-column-gap: var(--stg-gap);
      grid-row-gap: var(--stg-gap);
   }

   .convert-t-grid-1col {
      grid-template-columns: repeat(1, 1fr);
   }

   .convert-t-grid-2cols {
      grid-template-columns: repeat(2, 1fr);
   }

   .convert-t-grid-3cols {
      grid-template-columns: repeat(3, 1fr);
   }

   .convert-t-grid-4cols {
      grid-template-columns: repeat(4, 1fr);
   }

   .convert-t-grid-5cols {
      grid-template-columns: repeat(5, 1fr);
   }

   .convert-t-grid-6cols {
      grid-template-columns: repeat(6, 1fr);
   }

   section.t-is-fullwidth {
      max-width: 100svw;
      --convert-fw-spacing: calc(0.5 * (100vw - var(--stg-container-width)));
      margin-left: calc(-1 * var(--convert-fw-spacing));
      margin-right: calc(-1 * var(--convert-fw-spacing));
      padding-left: var(--convert-fw-spacing);
      padding-right: var(--convert-fw-spacing);
   }

   section.t-is-fullwidth.t-is-stretched {
      padding-left: 0;
      padding-right: 0;
   }

   section.t-is-fullwidth.t-is-stretched > .t-is-boxed {
      --convert-fw-spacing: calc(0.5 * (100vw - var(--stg-container-width)));
      padding-left: var(--convert-fw-spacing);
      padding-right: var(--convert-fw-spacing);
   }

   section[data-tp-padding='none'] {
      padding-top: 0;
      padding-bottom: 0;
   }

   section[data-tp-padding='top'] {
      padding-bottom: 0;
   }

   section[data-tp-padding='bottom'] {
      padding-top: 0;
   }

   section[data-tp-padding='small'] {
      padding: calc(0.5 * var(--convert-section-gap)) 0;
   }

   .convert-masked-cta .convert-masked-content {
      max-width: 30%;
   }

   .convert-masked-cta .convert-cta-title {
      max-width: 80%;
   }

   .stg-cta-with-image {
      --this-spacing: var(--stg-large-gap);
   }

   [class*='stg-col-'] > div.convert-offset-image {
      width: calc(100% - var(--this-offset) - var(--this-spacing));
   }

   .convert-framed-socials a {
      width: 36px;
      height: 36px;
   }

   iframe.convert-google-map {
      max-height: 309px;
   }

   .convert-slider-nav.on-sides {
      top: calc(50% - 36px);
   }

   .convert-slider-nav.on-sides a {
      width: 48px;
      height: 72px;
   }

   .convert-next-post.convert-icon-link .convert-icon-wrap {
      width: 128px;
      height: 128px;
   }

   .convert-next-post .convert-icon {
      width: 36px;
      height: 36px;
   }

   button.pswp__button.pswp__button--close,
   .pswp__top-bar button.pswp__button,
   .pswp__ui--fit .pswp__top-bar button.pswp__button {
      right: var(--stg-small-gap);
      top: var(--stg-small-gap);
      position: absolute;
   }
}

@media only screen and (max-width: 768px) {
   .convert-active-menu-ind,
   .convert-header-inner {
      display: none;
   }

   .convert-mobile-header-inner {
      display: flex;
      min-height: 44px;
      justify-content: space-between;
      align-items: center;
      padding: var(--convert-header-spacing) var(--stg-gap);
      width: 100%;
   }

   .convert-mobile-menu-toggler {
      width: 44px;
      height: 44px;
      background: var(--convert-s-accent);
      transition: background-color 0.3s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
   }

   .convert-mobile-menu-toggler::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;
      border: 1px solid var(--convert-s-accented-text);
      opacity: 0.15;
      border-radius: inherit;
      transition: opacity 0.3s;
      will-change: opacity;
      z-index: 1;
   }

   .convert-mobile-menu-toggler i {
      width: 40px;
      height: 40px;
      position: relative;
      z-index: 3;
   }

   .convert-mobile-menu-toggler span {
      background: var(--convert-s-accented-text);
      width: 18px;
      height: 2px;
      border-radius: 2px;
      display: block;
      position: absolute;
      left: 11px;
      transform-origin: 0 50%;
      transition:
         transform 0.3s,
         background-color 0.3s;
      will-change: transform;
      z-index: 5;
   }

   .convert-mobile-menu-toggler span:nth-child(1) {
      top: calc(50% - 7px);
   }

   .convert-mobile-menu-toggler span:nth-child(2) {
      top: calc(50% - 1px);
      transform-origin: 50% 50%;
   }

   .convert-mobile-menu-toggler span:nth-child(3) {
      top: calc(50% + 5px);
      transform: scale(0.667, 1);
   }

   .show-menu .convert-mobile-menu-toggler {
      background: transparent;
   }

   .show-menu .convert-mobile-menu-toggler::before {
      opacity: 1;
   }

   .show-menu .convert-mobile-menu-toggler span:nth-child(1) {
      transform: rotate(45deg) scale(1.35, 1) translate(-1px, -2px);
      background-color: var(--convert-s-heading);
   }

   .show-menu .convert-mobile-menu-toggler span:nth-child(2) {
      transform: scale(0, 1);
      background-color: var(--convert-s-heading);
   }

   .show-menu .convert-mobile-menu-toggler span:nth-child(3) {
      transform: rotate(-45deg) scale(1.35, 1) translate(-1px, 2px);
      background-color: var(--convert-s-heading);
   }

   .convert-mobile-nav {
      display: block;
   }

   .show-menu .convert-mobile-nav {
      transform: translate(0);
      pointer-events: all;
   }

   body.show-menu.is-unloading .convert-mobile-nav {
      transform: translateX(100%);
      pointer-events: none;
   }

   .convert-mobile-nav::-webkit-scrollbar {
      width: 0;
   }

   .convert-mobile-nav::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background: linear-gradient(to top, transparent, var(--convert-s-border));
   }

   .convert-mobile-nav::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(90deg, transparent 25%, var(--convert-s-body-bg) 100%);
   }

   .convert-mobile-menu {
      padding: var(--stg-large-gap);
      margin: 0;
      position: relative;
      z-index: 5;
   }

   .convert-mobile-menu > li.current-menu-parent > a::before,
   .convert-mobile-menu > li.current-menu-item > a::before,
   .convert-mobile-menu > li.current-menu-ancestor > a::before,
   .convert-mobile-menu .sub-menu > li.current-menu-parent > a::before,
   .convert-mobile-menu .sub-menu > li.current-menu-item > a::before,
   .convert-mobile-menu .sub-menu > li.current-menu-ancestor > a::before {
      content: '';
      position: absolute;
      left: calc(-1 * var(--stg-large-gap));
      top: 50%;
      display: block;
      width: var(--stg-gap);
      height: 2px;
      border-radius: 0 2px 2px 0;
      background: var(--convert-s-heading);
   }

   .convert-mobile-menu .sub-menu > li.current-menu-parent > a::before,
   .convert-mobile-menu .sub-menu > li.current-menu-item > a::before,
   .convert-mobile-menu .sub-menu > li.current-menu-ancestor > a::before {
      opacity: 1;
      width: var(--stg-small-gap);
      left: calc(-1 * var(--stg-gap) + 2px);
      transform: translateY(-1px);
   }

   .convert-mobile-menu a {
      color: var(--convert-c-menu);
      display: block;
      position: relative;
      padding: 16px 0;
   }

   .convert-mobile-menu .sub-menu {
      padding-left: var(--stg-gap);
      position: relative;
      display: none;
   }

   .convert-mobile-menu .sub-menu a {
      padding: 12px 0;
   }

   .convert-mobile-menu .sub-menu::before {
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: var(--convert-s-heading);
      opacity: 0.15;
      border-radius: 2px;
   }

   .convert-mobile-menu li {
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: var(--convert-t-menu-ff);
      font-weight: var(--convert-t-menu-fw);
      font-size: var(--convert-t-menu-fs);
      line-height: var(--convert-t-menu-lh);
      position: relative;
   }

   .convert-mobile-menu ul.sub-menu li {
      font-family: var(--convert-t-submenu-ff);
      font-weight: var(--convert-t-submenu-fw);
      font-size: var(--convert-t-submenu-fs);
      line-height: var(--convert-t-submenu-lh);
   }

   .convert-mobile-menu li.current-menu-parent > a,
   .convert-mobile-menu li.current-menu-item > a,
   .convert-mobile-menu li.current-menu-ancestor > a {
      color: var(--convert-c-menu-active);
   }

   .convert-mobile-menu li.menu-item-has-children > a::after {
      content: '';
      width: var(--convert-t-menu-fs);
      height: var(--convert-t-menu-fs);
      background: var(--convert-c-menu);
      transition:
         background-color 0.3s,
         transform 0.3s;
      display: inline-block;
      vertical-align: middle;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      -webkit-mask-image: var(--icon-chevron-down);
      mask-image: var(--icon-chevron-down);
      transform: translateY(-1px) rotate(-90deg);
      position: absolute;
      right: -24px;
      width: 36px;
      height: 36px;
      top: calc(50% - 18px);
   }

   .convert-mobile-menu li.current-menu-parent.menu-item-has-children > a::after,
   .convert-mobile-menu li.current-menu-item.menu-item-has-children > a::after,
   .convert-mobile-menu li.current-menu-ancestor.menu-item-has-children > a::after {
      background: var(--convert-c-menu-active);
   }

   .convert-mobile-menu li.menu-item-has-children > a.is-active::after {
      transform: translateY(-1px) rotate(0deg);
   }

   /* Divider */
   ul.convert-mobile-menu li.convert-menu-divider {
      position: relative;
      padding: 12px 0;
      height: 1px;
      pointer-events: none;
   }

   ul.convert-mobile-menu li.convert-menu-divider::after {
      content: '';
      width: 100%;
      height: 1px;
      display: block;
      background: var(--convert-s-heading);
      position: absolute;
      left: 0;
      top: 12px;
      opacity: 0.1;
   }

   .convert-mobile-menu-overlay {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 86;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s;
      will-change: opacity;
      background: var(--convert-s-nav);
   }

   .show-menu .convert-mobile-menu-overlay {
      pointer-events: all;
      opacity: 0.5;
   }
}

@media only screen and (max-width: 960px) {
   .convert-bento-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: var(--stg-gap);
      grid-auto-flow: row;
   }

   .convert-bento-grid .is-medium {
      overflow: hidden;
   }

   .convert-bento-grid .is-large:first-child {
      grid-area: 1 / 1 / 3 / 3;
   }

   .convert-bento-grid .is-medium:nth-child(2) {
      grid-area: 3 / 1 / 4 / 3;
   }

   .convert-bento-grid .is-medium:last-child {
      grid-area: 4 / 1 / 5 / 3;
   }

   .convert-bento-grid .is-medium:first-child {
      grid-area: 1 / 1 / 2 / 3;
   }

   .convert-bento-grid .is-large:last-child {
      grid-area: 3 / 1 / 5 / 3;
   }

   .convert-bento-grid .is-medium:nth-child(3) {
      grid-area: 2 / 1 / 3 / 3;
   }
}

@media only screen and (min-width: 740px) and (max-width: 960px) {
   .convert-large-text.convert-tp-normal-text {
      font-size: var(--convert-t-content-fs);
      line-height: var(--convert-t-content-lh);
      letter-spacing: var(--convert-t-content-ls);
      font-weight: var(--convert-t-content-fw);
   }

   section.tp-is-fullwidth {
      max-width: 100svw;
      --convert-fw-spacing: calc(0.5 * (100vw - var(--stg-container-width)));
      margin-left: calc(-1 * var(--convert-fw-spacing));
      margin-right: calc(-1 * var(--convert-fw-spacing));
      padding-left: var(--convert-fw-spacing);
      padding-right: var(--convert-fw-spacing);
   }

   section.tp-is-fullwidth.tp-is-stretched {
      padding-left: 0;
      padding-right: 0;
   }

   section.tp-is-fullwidth.tp-is-stretched > .tp-is-boxed {
      --convert-fw-spacing: calc(0.5 * (100vw - var(--stg-container-width)));
      padding-left: var(--convert-fw-spacing);
      padding-right: var(--convert-fw-spacing);
   }

   .convert-tp-centered-last-item.convert-tp-grid-2cols > div:nth-child(odd):last-child {
      transform: translateX(calc(50% + 0.5 * var(--stg-gap)));
   }

   .convert-icon-box .convert-box-icon {
      width: 48px;
      height: 48px;
   }

   .convert-icon-box i {
      width: 24px;
      height: 24px;
   }

   .convert-icon-box h4 {
      padding-right: calc(48px + var(--stg-small-gap));
   }
}

@media only screen and (max-width: 960px) {
   .stg-row > div[class*='convert-tp-grid'],
   [class*='convert-tp-grid'] {
      display: grid;
      grid-column-gap: var(--stg-gap);
      grid-row-gap: var(--stg-gap);
   }

   .convert-tp-grid-1col {
      grid-template-columns: repeat(1, 1fr);
   }

   .convert-tp-grid-2cols {
      grid-template-columns: repeat(2, 1fr);
   }

   .convert-tp-grid-3cols {
      grid-template-columns: repeat(3, 1fr);
   }

   .convert-tp-grid-4cols {
      grid-template-columns: repeat(4, 1fr);
   }

   .convert-tp-grid-5cols {
      grid-template-columns: repeat(5, 1fr);
   }

   .convert-tp-grid-6cols {
      grid-template-columns: repeat(6, 1fr);
   }

   .convert-tp-stretch-last-item.convert-tp-grid-2cols > div:nth-child(odd):last-child {
      grid-column: 1 / -1;
   }

   .convert-tp-stretch-last-item.convert-tp-grid-2cols
      > div:nth-child(odd):last-child.stg-aspect-square,
   .convert-tp-stretch-last-item.convert-tp-grid-2cols
      > div:nth-child(odd):last-child
      .stg-aspect-square {
      aspect-ratio: 2/1;
   }

   section[data-tp-padding='none'] {
      padding-top: 0;
      padding-bottom: 0;
   }

   section[data-tp-padding='top'] {
      padding-bottom: 0;
   }

   section[data-tp-padding='bottom'] {
      padding-top: 0;
   }

   section[data-tp-padding='small'] {
      padding: calc(0.5 * var(--convert-section-gap)) 0;
   }

   .convert-hero-type01 h1.convert-page-title {
      font-size: var(--convert-t-h2-fs);
      letter-spacing: var(--convert-t-h2-ls);
      line-height: var(--convert-t-h2-lh);
   }

   .convert-hero-type01 .convert-masked-content {
      width: 80px;
      height: 80px;
   }

   .convert-hero-type01 .convert-masked-content a.convert-square-button {
      width: 68px;
      height: 68px;
   }

   .convert-hero-type01 .convert-masked-content a span {
      width: 24px;
      height: 24px;
   }

   .convert-hero-type02 > .stg-row > .stg-col-6:first-child {
      position: relative;
      z-index: 5;
   }

   .convert-hero-type02 .convert-page-title {
      padding: 0;
      margin-bottom: var(--stg-gap);
   }

   .convert-hero-type02 .stg-row.stg-no-gap > div.stg-tp-offset-6 {
      margin: -70% 0 0 50%;
      position: relative;
      z-index: 3;
   }

   .convert-hero-type02 .stg-col-4 > img {
      margin-left: var(--stg-gap);
   }

   .convert-hero-type03 .convert-hero-title-wrap {
      flex-direction: column;
   }

   .convert-hero-type03 .convert-hero-title-wrap h1.convert-page-title {
      max-width: 100%;
      margin-bottom: var(--stg-gap);
   }

   .convert-hero-type03 .convert-hero-title-wrap > div {
      max-width: 45%;
      align-self: flex-end;
   }

   .convert-hero-type03 .convert-hero-media-content {
      max-width: 45%;
   }

   .convert-hero-type03 .convert-tags-list {
      max-width: 50%;
   }

   .convert-hero-type04 .convert-large-text {
      max-width: 100%;
   }

   .convert-hero-type04 .convert-hero-info-line {
      margin-bottom: var(--stg-large-gap);
   }

   .convert-hero-type07 .convert-page-title {
      font-size: var(--convert-t-h2-fs);
      letter-spacing: var(--convert-t-h2-ls);
      line-height: var(--convert-t-h2-lh);
      padding: 0;
   }

   .convert-hero-type07 .convert-hero-social-proof {
      margin-top: calc(var(--stg-gap) + var(--stg-xs-gap));
   }

   .convert-hero-type07 .convert-hero-social-proof a,
   .convert-hero-type07 .convert-hero-social-proof img {
      width: 64px;
      height: 64px;
   }

   .convert-hero-type07 .convert-hero-social-proof a span {
      display: none;
   }

   .convert-hero-type07 .convert-hero-social-proof > div {
      flex-wrap: wrap;
   }

   .convert-hero-type07 .convert-large-text {
      font-size: var(--convert-t-content-fs);
      line-height: var(--convert-t-content-lh);
      letter-spacing: var(--convert-t-content-ls);
   }

   .convert-hero-form {
      padding: 0;
   }

   .convert-hero-type08 h1 {
      padding: 0;
   }

   .convert-hero-type08 .stg-row > div.stg-tp-col-12 p {
      max-width: 80%;
      margin: 0 10% var(--stg-gap) 10%;
   }

   .convert-masked-cta .convert-masked-content {
      max-width: 50%;
   }

   .convert-masked-cta .convert-cta-title {
      font-size: var(--convert-t-h2-fs);
      letter-spacing: var(--convert-t-h2-ls);
      line-height: var(--convert-t-h2-lh);
      max-width: 100%;
      margin: var(--stg-large-gap) 0;
   }

   .convert-masked-cta input {
      font-size: var(--convert-t-h4-fs);
      letter-spacing: var(--convert-t-h4-ls);
   }

   .convert-masked-cta button {
      padding: var(--stg-gap);
   }

   .convert-masked-cta button span {
      width: 28px;
      height: 28px;
   }

   .stg-cta-with-image {
      padding: 0;
   }

   .convert-cta-form-title {
      font-size: var(--convert-t-h2-fs);
      letter-spacing: var(--convert-t-h2-ls);
      line-height: var(--convert-t-h2-lh);
   }

   .convert-cta-text {
      padding: var(--stg-large-gap) 0;
   }

   div[class*='stg-col']:has(.convert-offset-image) {
      margin-top: calc(2 * var(--stg-large-gap));
      margin-bottom: calc(-1 * var(--stg-large-gap));
   }

   [class*='stg-col-']:first-child > div.convert-offset-image,
   [class*='stg-col-'] > div.convert-offset-image {
      border-radius: 0 var(--convert-large-br) 0 0;
   }

   [class*='stg-col-']:last-child > div.convert-offset-image {
      border-radius: var(--convert-large-br) 0 0 0;
   }

   .convert-section-title p.is-short {
      max-width: calc(0.8 * var(--stg-container-width));
   }

   .convert-masked-content {
      max-width: 50%;
   }

   .convert-grid-cta .convert-masked-content {
      max-width: 33.33%;
   }

   iframe.convert-google-map {
      aspect-ratio: 1/1;
      height: auto;
      max-height: unset;
   }

   .convert-list-with-preview {
      flex-direction: column;
   }

   .convert-lwp-media {
      display: none;
   }

   .convert-list-with-preview > div.convert-lwp-roster {
      width: 100%;
   }

   .convert-lwp-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: var(--stg-gap);
   }

   .convert-lwp-item > img {
      display: block;
      min-width: 64px;
      max-width: 64px;
      border-radius: calc(1.5 * var(--convert-xs-br));
   }

   .convert-lwp-item h5 {
      min-width: calc(50% - 64px - 2 * var(--stg-gap));
   }

   .convert-lwp-item-content {
      width: 100%;
   }

   .convert-lwp-roster .align-right:nth-child(odd) {
      text-align: left;
   }

   .convert-detailed-list-title {
      min-width: calc(25% - var(--stg-gap));
      max-width: calc(25% - var(--stg-gap));
   }

   .convert-detailed-list-description {
      min-width: calc(75% - 2 * var(--stg-gap) - 64px);
      max-width: calc(75% - 2 * var(--stg-gap) - 64px);
   }

   .convert-detailed-list-button {
      width: 64px;
      height: 64px;
   }

   .convert-slider-nav.convert-masked-content {
      width: 128px;
      height: 64px;
   }

   .convert-slider-nav.convert-masked-content a {
      width: 56px;
      height: 56px;
      margin: 8px 0 0 8px;
   }

   .convert-slider-nav.on-sides a span.convert-icon {
      width: 20px;
      height: 20px;
   }

   .convert-toggles-item--title h4 {
      font-size: var(--convert-t-h6-fs);
      letter-spacing: var(--convert-t-h6-ls);
      line-height: var(--convert-t-h6-lh);
   }

   .convert-toggles-item--title i.convert-icon {
      transform: rotate(-90deg) translate(-3px, 0px);
   }

   .is-active .convert-toggles-item--title .convert-icon {
      transform: rotate(0deg) translate(0, 8px);
   }

   .convert-infinite-list-title h2 {
      font-size: var(--convert-t-h3-fs);
      letter-spacing: var(--convert-t-h3-ls);
      line-height: var(--convert-t-h3-lh);
   }

   .convert-fullscreen-page .convert-slider img,
   .convert-fullscreen-page .convert-slider video {
      height: calc(100svh - var(--st-header-height) - var(--st-footer-height));
      width: auto;
   }

   .convert-column-item .convert-masked-content {
      max-width: 85%;
   }

   .convert-column-item h4 {
      font-size: var(--convert-t-h5-fs);
      letter-spacing: var(--convert-t-h5-ls);
      line-height: var(--convert-t-h5-lh);
   }

   .convert-column-item-title span {
      margin-bottom: 4px;
   }

   .convert-column-item-content .convert-icon-wrap {
      width: 64px;
      height: 64px;
   }

   .convert-column-item .convert-icon {
      width: 16px;
      height: 16px;
   }

   .convert-next-post h2 {
      font-size: var(--convert-t-h2-fs);
      letter-spacing: var(--convert-t-h2-ls);
      line-height: var(--convert-t-h2-lh);
   }

   .convert-next-post .convert-icon {
      width: 24px;
      height: 24px;
   }

   .convert-next-post.convert-icon-link .convert-icon-wrap {
      width: 96px;
      height: 96px;
   }

   .convert-next-post .convert-icon-wrap::before {
      border-width: 2px;
   }

   .convert-footer-widgets div[class*='stg-tp-col']:has(.convert-info-widget) {
      padding: 0 calc(0.2 * var(--stg-container-width)) 0 0;
   }

   .convert-info-widget .convert-label {
      margin-bottom: 8px;
   }
}

@media only screen and (max-width: 739px) {
   .convert-mobile-nav::after {
      background: linear-gradient(180deg, transparent 0%, var(--convert-s-body-bg) 100%);
      opacity: 0.85;
   }

   section.is-fullwidth {
      margin-left: calc(-1 * var(--stg-gap));
      margin-right: calc(-1 * var(--stg-gap));
      padding-left: var(--stg-gap);
      padding-right: var(--stg-gap);
   }

   section.is-fullwidth.is-stretched > .is-boxed {
      padding-left: var(--stg-gap);
      padding-right: var(--stg-gap);
   }

   .convert-mobile-nav {
      max-width: 100%;
   }

   .convert-mobile-header-inner {
      padding: var(--convert-header-spacing) var(--stg-gap);
   }

   .convert-grid-1col,
   .convert-grid-2cols,
   .convert-grid-3cols,
   .convert-grid-4cols,
   .convert-grid-5cols,
   .convert-grid-6cols {
      grid-template-columns: repeat(1, 1fr);
   }

   .stg-row > div[class*='convert-m-grid'],
   [class*='convert-m-grid'] {
      display: grid;
      grid-column-gap: var(--stg-gap);
      grid-row-gap: var(--stg-gap);
   }

   .convert-m-grid-1col {
      grid-template-columns: repeat(1, 1fr);
   }

   .convert-m-grid-2cols {
      grid-template-columns: repeat(2, 1fr);
   }

   .convert-m-grid-3cols {
      grid-template-columns: repeat(3, 1fr);
   }

   .convert-m-grid-4cols {
      grid-template-columns: repeat(4, 1fr);
   }

   .convert-m-grid-5cols {
      grid-template-columns: repeat(5, 1fr);
   }

   .convert-m-grid-6cols {
      grid-template-columns: repeat(6, 1fr);
   }

   section.m-is-fullwidth {
      max-width: 100svw;
      --convert-fw-spacing: calc(0.5 * (100vw - var(--stg-container-width)));
      margin-left: calc(-1 * var(--convert-fw-spacing));
      margin-right: calc(-1 * var(--convert-fw-spacing));
      padding-left: var(--convert-fw-spacing);
      padding-right: var(--convert-fw-spacing);
   }

   section.m-is-fullwidth.m-is-stretched {
      padding-left: 0;
      padding-right: 0;
   }

   section.m-is-fullwidth.m-is-stretched > .m-is-boxed {
      --convert-fw-spacing: calc(0.5 * (100vw - var(--stg-container-width)));
      padding-left: var(--convert-fw-spacing);
      padding-right: var(--convert-fw-spacing);
   }

   section[data-tp-padding='none'] {
      padding-top: 0;
      padding-bottom: 0;
   }

   section[data-tp-padding='top'] {
      padding-bottom: 0;
   }

   section[data-tp-padding='bottom'] {
      padding-top: 0;
   }

   section[data-tp-padding='small'] {
      padding: calc(0.5 * var(--convert-section-gap)) 0;
   }

   .convert-hero-info-line {
      font-size: var(--convert-t-meta-fs);
   }

   .convert-hero-type01 .convert-hero-social-proof {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding-top: var(--stg-gap);
   }

   .convert-hero-type01 .convert-hero-social-proof > p {
      text-align: left;
   }

   .convert-hero-type01 .convert-hero-social-proof > div {
      margin: 0 0 0 28px;
   }

   .convert-hero-type01 .convert-masked-block {
      --masked-inner-radius: var(--convert-default-br);
      --masked-border-radius: var(--convert-small-br);
   }

   .convert-hero-type01 .convert-masked-content a.convert-square-button {
      width: 44px;
      height: 44px;
      border-radius: var(--convert-small-br);
   }

   .convert-hero-type01 .convert-masked-content a span {
      width: 16px;
      height: 16px;
   }

   .convert-hero-type01 .convert-masked-content {
      width: 56px;
      height: 56px;
   }

   .convert-hero-type01 .convert-masked-content.at-bottom-right .convert-square-button {
      margin: var(--stg-small-gap) 0 0 var(--stg-small-gap);
   }

   .convert-hero-type01 .convert-masked-media img {
      border-radius: var(--convert-small-br);
   }

   .stg-row.convert-hero02-row {
      width: 100%;
   }

   .convert-hero-type02 .stg-col-4 > img {
      margin-left: 0;
   }

   .convert-hero-type02 .stg-row.stg-no-gap > div.stg-tp-offset-6 {
      margin: 0;
      position: absolute;
      right: 0;
      top: calc(-0.25 * var(--stg-gap));
      width: calc(50% - 0.5 * var(--stg-gap));
   }

   .stg-row.convert-hero02-row {
      padding-bottom: 0;
   }

   .convert-hero-type03 .convert-hero-title-wrap h1.convert-page-title {
      margin-bottom: 0;
   }

   .convert-hero-type03 .convert-tags-list,
   .convert-hero-type03 .convert-hero-media-content {
      position: static;
   }

   .convert-hero-type03 .convert-tags-list {
      max-width: 100%;
   }

   .convert-hero-type03 .convert-hero-media-content {
      margin: var(--stg-gap) 0;
      max-width: 80%;
      margin-left: 10%;
   }

   .convert-hero-type03 .convert-hero-title-wrap > div {
      max-width: 50%;
      margin: 0 25%;
   }

   .convert-hero-type03 .convert-masked-content.at-top-right > div {
      padding: 0;
   }

   .convert-hero-type03 .convert-tags-list {
      justify-content: center;
   }

   .convert-hero-type05 a.convert-square-button span.convert-icon {
      width: 32px;
      height: 32px;
   }

   .convert-hero-type06 .convert-masked-content.at-bottom-right {
      width: 88px;
      height: 88px;
   }

   .convert-hero-type06 .convert-masked-content.at-bottom-right a.convert-square-button {
      margin: var(--stg-small-gap) 0 0 var(--stg-small-gap);
   }

   .convert-hero-type06 .convert-square-button {
      width: calc(100% - var(--stg-small-gap));
      height: calc(100% - var(--stg-small-gap));
   }

   .convert-hero-type06 .is-large .convert-bento-hero-media p {
      max-width: calc(100% - 88px - var(--stg-small-gap));
   }

   .convert-hero-type07 .convert-hero-social-proof > div {
      justify-content: center;
   }

   .convert-hero-type08 .stg-row > div.stg-tp-col-12 p {
      max-width: 100%;
      margin: 0 0 var(--stg-gap) 0;
   }

   .convert-hero-form {
      padding-bottom: 0;
   }

   .convert-page-title.is-large {
      font-size: var(--convert-t-h1-fs);
      line-height: var(--convert-t-h1-lh);
   }

   .convert-section-title p.is-short {
      max-width: calc(0.9 * var(--stg-container-width));
   }

   .convert-image-box:not(:last-child) {
      margin: unset;
   }

   .convert-bento-grid:not(.convert-grid-cta) .is-small .convert-square-button {
      width: 48px;
      height: 48px;
   }

   .convert-bento-grid:not(.convert-grid-cta) .is-small .convert-square-button .convert-icon {
      width: 16px;
      height: 16px;
   }

   .convert-member-contacts .convert-socials-list a {
      width: 48px;
      height: 48px;
   }

   .convert-member-contacts .convert-socials-list a i {
      width: 24px;
      height: 24px;
   }

   .convert-icon-link .convert-icon-wrap {
      width: 64px;
      height: 64px;
   }

   .convert-tp-stretch-last-item.convert-tp-grid-2cols
      > div:nth-child(odd):last-child.stg-aspect-square,
   .convert-tp-stretch-last-item.convert-tp-grid-2cols
      > div:nth-child(odd):last-child
      .stg-aspect-square {
      aspect-ratio: 1/1;
   }

   .convert-masked-content[class*='stg-m-top-'],
   .convert-masked-content[class*='stg-m-bottom-'] {
      position: static;
      max-width: 100%;
      padding: 0;
   }

   .convert-masked-content[class*='stg-m-top-'] > div,
   .convert-masked-content[class*='stg-m-bottom-'] > div {
      padding: 0;
   }

   .convert-lwp-item {
      flex-direction: column;
      contain: paint;
   }

   .convert-lwp-item h5 {
      width: 100%;
   }

   .convert-lwp-item:not(.is-active) a {
      pointer-events: none;
   }

   .convert-lwp-item > img {
      display: none;
   }

   .convert-toggles-item--title sup {
      display: none;
   }

   .convert-toggles-item--title h4 {
      font-size: var(--convert-t-h6-fs);
      letter-spacing: var(--convert-t-h6-ls);
      line-height: var(--convert-t-h6-lh);
      padding-right: 0;
   }

   .convert-toggles-item--title i.convert-icon {
      display: none;
   }

   .convert-detailed-list li {
      align-items: center;
   }

   .convert-detailed-list-title {
      min-width: calc(100% - 2 * var(--stg-gap) - 48px);
      max-width: calc(100% - 2 * var(--stg-gap) - 48px);
   }

   .convert-detailed-list-description {
      display: none;
   }

   .convert-detailed-list-button {
      width: 48px;
      height: 48px;
   }

   .convert-detailed-list-button span.convert-icon {
      width: 16px;
      height: 16px;
   }

   .convert-slider-nav.convert-masked-content a {
      width: 44px;
      min-width: 44px;
      height: 44px;
   }

   .convert-slider-nav.convert-masked-content a::before {
      border-width: 1px;
   }

   .convert-slider-nav.convert-masked-content span.convert-icon {
      width: 12px;
      height: 12px;
   }

   .convert-slider-nav.convert-masked-content {
      width: 100px;
      height: 52px;
   }

   .convert-list-with-preview > div.convert-lwp-roster {
      grid-template-columns: repeat(1, 1fr);
   }

   .convert-masked-cta .convert-masked-content {
      display: none;
   }

   .convert-masked-cta .convert-cta-form {
      padding: var(--stg-gap);
      flex-direction: column;
      gap: var(--stg-small-gap);
   }

   .convert-masked-cta .convert-cta-title {
      margin: 0 0 var(--stg-gap) 0;
   }

   .convert-masked-cta .convert-cta-form-button {
      width: 100%;
   }

   .convert-masked-cta button {
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .convert-masked-cta input {
      font-size: var(--convert-t-h6-fs);
      letter-spacing: var(--convert-t-h5-ls);
   }

   .convert-grid-cta .convert-square-button span {
      width: 48px;
      height: 48px;
   }

   .convert-bento-grid {
      grid-auto-flow: column;
      grid-template-columns: repeat(2, minmax(auto, calc(50% - 0.5 * var(--stg-gap))));
      grid-template-rows: repeat(4, auto);
   }

   .convert-bento-grid .is-large {
      min-height: var(--stg-container-width);
   }

   .convert-grid-cta .is-medium {
      aspect-ratio: 2;
   }

   .convert-bento-grid .is-small:has(.convert-meta-list) {
      max-height: -webkit-fit-content;
      max-height: -moz-fit-content;
      max-height: fit-content;
   }

   .convert-infinite-list-item .convert-meta {
      margin-bottom: 4px;
   }

   .convert-infinite-list-title h2 {
      font-size: var(--convert-t-h6-fs);
      letter-spacing: var(--convert-t-h6-ls);
      line-height: var(--convert-t-h6-lh);
   }

   .convert-infinite-list-icon {
      width: 48px;
      height: 48px;
   }

   .convert-infinite-list-icon .convert-icon {
      width: 16px;
      height: 16px;
   }

   .convert-infinite-list-preview {
      width: 64px;
      height: 64px;
      top: calc(50% - 32px);
   }

   .convert-infinite-list-item {
      padding-left: calc(64px + var(--stg-gap));
   }

   .convert-slider-nav.on-sides a {
      height: 64px;
   }

   .convert-slider-nav.on-sides {
      top: calc(50% - 32px);
   }

   .convert-slider-nav.on-sides a.convert-slider-prev span.convert-icon {
      transform: translateX(-4px);
   }

   .convert-slider-nav.on-sides a.convert-slider-next span.convert-icon {
      transform: translateX(4px);
   }

   .convert-slider .convert-slide-content-inner {
      padding: calc(1.5 * var(--stg-small-gap)) calc(1.5 * var(--stg-gap));
   }

   .convert-slider .convert-slide-content-inner h4 {
      font-size: var(--convert-t-h5-fs);
      letter-spacing: var(--convert-t-h5-ls);
      line-height: var(--convert-t-h5-lh);
   }

   .convert-column-item.convert-masked-block {
      --masked-inner-radius: var(--convert-default-br);
   }

   .convert-column-item h4 {
      font-size: var(--convert-t-h6-fs);
      letter-spacing: var(--convert-t-h6-ls);
      line-height: var(--convert-t-h6-lh);
   }

   .convert-column-item-content .convert-icon-wrap {
      min-width: 48px;
      min-height: 48px;
      max-width: 48px;
      max-height: 48px;
   }

   .convert-column-item .convert-masked-content {
      max-width: calc(100% - var(--stg-gap));
   }

   .convert-hero-info-line .convert-meta {
      display: flex;
      flex-direction: column;
   }

   .convert-next-post.convert-icon-link .convert-icon-wrap {
      width: 64px;
      height: 64px;
      border-radius: var(--convert-default-br);
   }

   .convert-next-post .convert-icon {
      width: 20px;
      height: 20px;
   }

   .convert-bento-grid > div > ul.convert-meta-list .convert-meta {
      margin-bottom: -2px;
   }

   .convert-footer-widgets div[class*='stg-tp-col']:has(.convert-info-widget) {
      padding: 0;
   }

   .convert-menu-widget {
      font-size: 12px;
   }
}
